{% extends "base.html" %}
{% block title %}AWD | Login{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-5 bg-secondary p-3" style="max-width: 600px; border-radius:10px;">
  <h2 class="text-center">
    Login
  </h2>
  <form action="{% url 'login' %}"  method="POST">
  {% csrf_token %}
  <div class="form-group">
  {{form | crispy}}
</div>
  <div class="form-group">
    <input type="submit" value="Login" class="btn btn-success">
  </div>
</form>
</div>
{% endblock content %}